# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#distint file
*.log
*.in

# Ignore merge conflict files
*.orig
*.rej

# Ignore temporary editor/merge tool files
*.bak
*.tmp
*.swp

# input output
*.in
*.in
*.in
*.in
